<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poma.restaurant">

    <uses-sdk android:minSdkVersion="28" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurant.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".restaurant.Activity_Restaurant_Anonymous"></activity>
        <activity android:name=".restaurant.Activity_Restaurants_List_Anonymous" />
        <activity android:name=".filter.Activity_Filter" />
        <activity android:name=".review.Activity_Create_Review" />
        <activity android:name=".review.Activity_Review" />
        <activity android:name=".restaurant.Activity_Edit_Restaurant" />
        <activity android:name=".restaurant.Activity_Create_Restaurant" />
        <activity android:name=".restaurant.Activity_Restaurant_Admin" />
        <activity android:name=".restaurant.Activity_Favourite_Restaurant" />
        <activity android:name=".notifications.Activity_Notifications_Admin" />
        <activity android:name=".menu.Activity_Menu_Admin" />
        <activity android:name=".restaurant.Activity_Restaurants_List_Admin" />
        <activity android:name=".restaurant.Activity_Favourites" />
        <activity android:name=".menu.Activity_Test" />
        <activity android:name=".menu.Activity_Menu_Anonymous" />
        <activity android:name=".restaurant.Activity_Restaurant_Client" />
        <activity android:name=".restaurant.Activity_Restaurants_List_Client" />
        <activity android:name=".notifications.Activity_Notification" />
        <activity android:name=".menu.Activity_Drawer_Menu_User" />
        <activity android:name=".account.Activity_Account" />
        <activity android:name=".notifications.Activity_Notifications" />
        <activity
            android:name=".account.Activity_Password"
            android:label="@string/title_activity__password" />
        <activity
            android:name=".account.Activity_Edit_Account"
            android:label="@string/title_activity_account"
            android:theme="@style/Theme.Restaurant.NoActionBar" />
        <activity
            android:name=".login.Activity_Register"
            android:theme="@style/Theme.Restaurant.NoActionBar" />
        <activity
            android:name=".menu.Activity_Menu"
            android:label="@string/title_activity_basic"
            android:theme="@style/Theme.Restaurant.NoActionBar" />
        <activity
            android:name=".login.Activity_Login"
            android:theme="@style/Theme.Restaurant.NoActionBar" />
        <activity
            android:name=".login.Activity_First_Access"
            android:theme="@style/Theme.Restaurant.NoActionBar" />
        <activity
            android:name=".splash.Activity_Splash"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".model.Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.poma.restaurant.broadcastreceiversandintents.BROADCAST_LOGOUT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".model.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.devis_android.broadcastreceiversandintents.SendBroadcast" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>